/vendor/
/composer.lock
/.env
/.env.*
!/.env.example
/storage/logs/*
!/storage/logs/.gitkeep
/storage/uploads/broadcast/*
!/storage/uploads/broadcast/.gitkeep
/storage/uploads/products/*
!/storage/uploads/products/.gitkeep
/storage/database.sqlite
*.sqlite
*.sqlite-journal
.idea/
.vscode/
.DS_Store
node_modules/
